html {
	background: #F2DF83;
}

body {
	font-family: Helvetica;
	font-size: 0.8rem;
	background: #F2DF83;
	color: #333333;
}

* {
	box-sizing: border-box;
}

button, li, div, a {
	display: flex;
	position: relative;
	flex-direction: column;
	flex-shrink: 0;
	/*user-select: none;*/
	margin: 0;
	padding: 0;
	align-items: stretch;
}

a {
	text-decoration: none;
}

.app__root {
	flex-direction: row;
	justify-content: space-around;
}

